Dataset
input_data_df.csv
output_data/output_train_x.csv
output_data/output_test_x.csv
output_data/output_train_y.csv
output_data/output_test_y.csv
Adaboost_crossval
random_forest_crossval
decision_tree_crossval